/* This is my first proper css file */

body{
    background-color: rgb(219, 188, 188);;
    margin: auto;
    text-align: center;
    
    
    
}
h1{
    font-family: 'Hahmlet', serif;
}
    

h3, p{
    color: white;
    font-family: 'Hahmlet', serif;
}

.chart{
    background-color: white;
    width:350px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}



